<?xml version='1.0' encoding='utf-8'?>
<!-- <preference name="android-build-tool" value="gradle" />
<preference name="AndroidXEnabled" value="true" />

<gap:plugin name="clevertap-cordova" source="npm">
    <param name="CLEVERTAP_ACCOUNT_ID" value="46R-747-WW7Z" />
    <param name="CLEVERTAP_TOKEN" value="a4a-264" />
    <param name="GCM_PROJECT_NUMBER" value="801441587067" /> // for v1.2.5 and lower of the plugin
</gap:plugin> -->
<widget id="com.example.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloWorld</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
